.file-upload-section {
  text-align: center;
  margin: 50px auto;
}

.file-upload-title {
  font-family: Inter, sans-serif;
  color: #d9e3f9;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
}

.file-upload-button {
  display: inline-block;
  padding: 20px 60px;
  font-size: 24px;
  font-weight: 600;
  color: #dbe4fa;
  background-color: #376ee7;
  border: 1px solid #2a55a7;
  border-radius: 38px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  transition: background-color 0.3s ease;
}

.file-upload-button:hover {
  background-color: #2a55a7;
}

.file-input {
  display: none;
}
